<h1>Hi <%= @user['first_name'] %>!</h1>
<p>
  Thank you for your interest in the Mask Recommender based on Facial Features study. I'm happy to announce that a shipping label has been created for your package.
  <br>
</p>

<table>
  <tbody>
    <th>Ship date</th><td><%= @shipping_label['ship_date']%></td>
    <th>Label number</th><td>
      <a href="https://tools.usps.com/go/TrackConfirmAction?tRef=fullpage&tLc=2&text28777=&tLabels=<%= @shipping_label['label_number']%>%2C&tABt=false#">
        <%= @shipping_label['label_number']%>
      </a>
    </td>
  </tbody>
</table>


<p>
  <br>
  Please let me know if you have any questions.
</p>

<p>
Regards,

Edderic Ugaddan
Breathesafe LLC
</p>
