<p>Hi <%= @user['name'] %>!</p>
<p>
  Thank you for your interest in the Mask Recommender based on Facial Features study. I'm happy to announce that a shipping label has been created for your package.
  <br>
</p>

<table>
  <tbody>
    <tr>
      <th>Ship date</th><td><%= @shipping_label['ship_date']%></td>
    </tr>
    <tr>
      <th>Label number</th>
      <td>
        <a href="https://tools.usps.com/go/TrackConfirmAction?tRef=fullpage&tLc=2&text28777=&tLabels=<%= @shipping_label['label_number']%>%2C&tABt=false#">
          <%= @shipping_label['label_number']%>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<p>Once you receive the package, you can get started by visiting the
<a href="https://breathesafe.xyz/#/onboarding">onboarding</a> page. Please also respond to this email to let me know that you have received the package. </p>

<p>
  Please let me know if you have any questions.
</p>

<p>
Regards,
</p>

<p>
Edderic Ugaddan
</p>
<p>
Breathesafe LLC
</p>
